html {
    background-color: black;
    color: white;
    font-family: monospace;
}

body {
    overflow: hidden;
    margin: 0.5% 0.5%;
}

.header {
    text-align: center;
    font-size: 3rem;
    border-bottom: 0.2rem solid gray;
    margin-bottom: 1%;
}

.layout {
    display: grid;
    grid-template-columns: 2fr 9fr;
}

.info, .timer {
    height: 100%;
    width: 100%;
}
