.container {
    position: absolute;
    bottom: 0;
    right: 0;
}

.container * {
    display: inline-block;
    border: none;
    background-color: #252525;
    color: white;
    text-align: center;
    cursor: pointer;
    user-select: none;
    padding: 5.5% 2%;
    margin: 0 0.5%;
    width: 100%;
}

.switchButton {
    transition: ease .4s;
    white-space: nowrap;
}

.switchButton:hover {
    background-color: #474747;
}

.scrambleSelector {
    transition: ease .4s;
}

.scrambleSelector:hover {
    background-color: #474747;
}
