.container {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 100;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.8);
    border: none;
}

.infocard {
    position: relative;
    width: 30vw;
    height: 100vh;
    background-color: rgb(61, 61, 61);
}

.closeButton {
    position: absolute;
    top: 0;
    right: 0;
    border: none;
    font-size: 1.2rem;
    background-color: rgb(107, 107, 107);
    transition: 0.3s;
}

.closeButton:hover {
    background-color: rgb(148, 148, 148);
}
